@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --brand-primary: #0A9AE2;
  --brand-secondary: #0864B6;
  --brand-dark: #0659AA;
  --brand-action: #FF6900;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-dark: var(--brand-dark);
  --color-brand-action: var(--brand-action);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.light {
  color-scheme: light;
}

.dark {
  --background: #020617;
  --foreground: #e2e8f0;
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide native password reveal button in Edge/IE/Chrome */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* slate-400 */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

